<section class="content-card form-card compact-form">
  <div class="section-header">
    <h2>Transfer</h2>
  </div>

  <form (ngSubmit)="onSubmit()" class="minimal-form">
    <div class="form-group">
      <label>From Account Id</label>
      <input type="number" class="form-control" [(ngModel)]="fromAccountId" name="fromAccountId" required>
    </div>

    <div class="form-group">
      <label>To Account Id</label>
      <input type="number" class="form-control" [(ngModel)]="toAccountId" name="toAccountId" required>
    </div>

    <div class="form-group">
      <label>Amount</label>
      <input type="number" class="form-control" [(ngModel)]="amount" name="amount" required>
    </div>

    <button type="submit" class="btn btn-dark mt-3">Submit</button>
  </form>
</section>
