<section class="content-card transfer-layout">
  <div class="section-header">
    <h2>Deposit Funds</h2>
    <p>Add money securely to an account.</p>
  </div>

  <form (ngSubmit)="onSubmit()" class="minimal-form split-form">
    <div class="form-group">
      <label>Account Id</label>
      <input type="number" class="form-control" [(ngModel)]="accountId" name="accountId" required>
    </div>

    <div class="form-group">
      <label>Amount</label>
      <input type="number" class="form-control" [(ngModel)]="amount" name="amount" required>
    </div>

    <button type="submit" class="btn btn-dark mt-3">Confirm Deposit</button>
  </form>
</section>
